In [1]:
#1.string char exchange
s=input("enter a word:")
c=s[-1]+s[1:-1]+s[0]
print("your word is exchanged:",c)

enter a word:grand
your word is exchanged: drang

In [2]:
#2.string swap and concatenate
a=input("enter first word:")
b=input("enter second word:")
c=b[0]+a[1:]+" "+a[0]+b[1:]

print("swapped first two characters:",c)

enter first word:frina
enter second word:nena
swapped first two characters: nrina fena

In [3]:
#3.replace char with $
a=input("enter a word:")
b=a[0]+a[1:].replace(a[0],"$")
print("replaced word=",b)

enter a word:aysha arshad
replaced word= aysh$ $rsh$d

In [12]:
#4.colour list first and last element
a=input("enter first colour:")
b=input("enter second colour:")
c=input("enter third colour:")
d=input("enter fourth colour:")
o=a[0:]+","+b[0:]+","+c[0:]+","+d[0:]
n=a[0:]
h=d[0:]
print(o)
print("first colour =",n)
print("last colour =",h)

enter first colour:red
enter second colour:blue
enter third colour:yellow
enter fourth colour:lavender
red,blue,yellow,lavender
first colour = red
last colour = lavender

In [14]:
#5.file extension print
a=input("enter your filename:")
b=a.split(".")
print("extension=",b[-1])

enter your filename:frina.jpeg
extension= jpeg

In [3]:
#6.3rd element and 3rd last element
a=input("enter values to tuple using coma:")
b=tuple(a.split(","))
print("tuple element is:",b)
print("third element:",b[2])
print("third from last:",b[-3])

enter values to tuple:frina,hadeela,jahana
tuple element is: ('frina', 'hadeela', 'jahana')
third element: jahana
third from last: frina

In [3]:
#7.write a python program to print all colours from colour-set1,not contained in  colour set2
a=set(input("enter first set of colours:").split(","))
b=set(input("enter second set of colours:").split(","))
print("colours present in first set but not in second:",a-b)

enter first set of colours:blue,black
enter second set of colours:blue,orange
colours present in first set but not in second: {'black'}

In [1]:
#8. Accept 5 student names from user,sort dictionaryin ascending and descending order
r=input("enter 5 roll numbers by commas:").split(",")
n=input("enter names of 5 students by commas:").split(",")
d={r[0]:n[0],r[1]:n[1],r[2]:n[2],r[3]:n[3],r[4]:n[4]}
print("students sorted in ascending order:",dict(sorted(d.items(),reverse=False)))
print("students sorted in descending order:",dict(sorted(d.items(),reverse=True)))

enter 5 roll numbers by commas:5,8,2,3,9
enter names of 5 students by commas:FRINA,AJAY,HADEELA,JAHANA,AYSHA
students sorted in ascending order: {'2': 'HADEELA', '3': 'JAHANA', '5': 'FRINA', '8': 'AJAY', '9': 'AYSHA'}
students sorted in descending order: {'9': 'AYSHA', '8': 'AJAY', '5': 'FRINA', '3': 'JAHANA', '2': 'HADEELA'}

In [1]:
#9. merge two dictionaries where Dict1 with 3 students names & Dict2 with 2 students names
n1=input("enter three students names separated by spaces:").split(",")
dict1={1:n1[0],2:n1[1],3:n1[2]}
n2=input("enter other three students names separated by spaces:").split(",")
dict2={4:n2[0],5:n2[1],6:n2[2]}
dict1.update(dict2)
print("merge disc=",dict1)

enter three students names separated by spaces:fri,jah,ajay
enter other three students names separated by spaces:hadeela,rashika,aysha
merge disc= {1: 'fri', 2: 'jah', 3: 'ajay', 4: 'hadeela', 5: 'rashika', 6: 'aysha'}

In [2]:
#10. print all even numbers (1-25)& calculate sum by range() directly without loop/conditions
even_n=list(range(2,26,2))
print("even numbers are:",even_n)
sum_n=sum(range(2,26,2))
print("sum of the numbers is:",sum_n)

even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
sum of the numbers is: 156